div{
    background-color: rgb(183, 0, 255);
    color: white;
    font-size: 32px;
    text-align: center;
    font-weight: bold;
}

#foodphoto{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
}

.listcenter{
    text-align: center;
    list-style: inside;
    font-size: 3em;
    text-decoration: none;
}

#indexbackground{
background-color: grey;
}